<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<nav class="navbar navbar-expand-lg ">

	<table class="table .table-hover table-striped tableNav">

		<thead>

			<tr>
				<th scope="col" ><div class="textNav"> 
					<pre>Imobiliária Dogs  </pre>
				</div> </th>
				<th scope="col">
				<a class="navbar-brand " href="/home">
					<img src="/images/newlogo.png" height="70" class="imgNav" title="Home" rel="tooltip" data-placement="top"
					alt="Logo">
			</a>
				</th>
			</tr>
		</thead>
	</table>
</nav>

</html>